<link rel="stylesheet" type="text/css" href="css/categories.css">
<div class="list">
    <div class="card dark-bg category" ng-repeat="category in categories" ui-sref="app.category({'id':{{category.id}}})">
        <a class="item clear-bg item-bg-image">
            <h3>{{category.shown_name}}</h3>
            <img ng-src="{{category.img}}">
        </a>
    </div>
</div>
