<ion-view title="{{category.shown_name}}">
    <ion-content>
        <div ng-show="categories.length > 0">
            <div class="item item-divider"> Categorías</div>
            <my-categories categories="categories"></my-categories>
        </div>
        <div ng-show="products.length > 0">
            <div class="item item-divider"> Productos </div>
            <my-products products="products"></my-products>
        </div>
    </ion-content>
</ion-view>