<ion-modal-view>
  <ion-header-bar class="bar-positive">
    <h1 class="title">Selecciona un Cliente</h1>
    <div class="buttons">
      <button class="button button-icon button-clear ion-android-close" ng-click="sel_client_close()"></button>
    </div>
  </ion-header-bar>
  <ion-content ng-controller="ClientsCtrl as clctrl">
    <div class="list">
      <div class="card" ng-click="select_client(client.id)" ng-repeat="client in clients">
        <a class="item item-avatar item-icon-right in">
          <img src="{{client.avatar}}">
          <h2>{{client.lastname}} {{client.name}}</h2>
          <p>{{client.company}}</p>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>