<ion-view view-title="Clientes">
  <link rel="stylesheet" type="text/css" href="css/clients.css">
  <ion-content ng-controller="ClientsCtrl as clctrl" style="float:left">
    <div class="list">
        <div ng-repeat="letter in letters" ng-if="(clients | filter:{'lastname':letter}:startwith).length > 0">
          <div class="item item-divider letter"> {{letter}} </div>
          <div class="card" ng-repeat="client in clients | filter:{'lastname':letter}:startwith">
            <a class="item item-avatar item-icon-right" ui-sref='app.client({id:{{client.id}}})'>
              <img src="{{client.avatar}}">
              <h2>{{client.lastname}} {{client.name}}</h2>
              <p>{{client.mobile}}</p>
            </a>
          </div>
        </div>
    </div>
  </ion-content>
  <div ng-hide="true" class="currentletter button button-balanced button-fab"><h2 class="light">{{currentletter}}</h2></div>
</ion-view>