<ion-view view-title="Cliente">
  <ion-content class="content has-header">
    <div class="hero has-mask " style="background-image: url('img/background.jpg');">
      <div class="content">
        <div class="avatar" style="background-image: url({{client.avatar}});"></div>
        <h3><a class="light">{{client.name}} {{client.lastname}}</a></h3>
        <h4>{{client.company}}</h4>
      </div>
    </div>
    <div class="item item-icon-left">
      <i class="icon ion-ios-telephone balanced"></i>
      Teléfono
      <h2> {{client.mobile}} </h2>
    </div>
    <div class="item item-icon-left">
      <i class="icon ion-android-pin assertive"></i>
      Ciudad
      <h2> {{client.city}} </h2>
    </div>
    <div class="card">
      <div class="item item-icon-left item-divider">
        <i class="icon ion-android-list dark"></i>
        <h2> Pedidos </h2>
      </div>
      <div class="item item-icon-left" ng-repeat="order in getClientOrders(client.id)" ui-sref="app.pedido({'id': {{order.id}}})">
          <i class="icon ion-android-arrow-forward calm"></i>
          <h2>{{order.date}}</h2>
      </div>
    </div>
  </ion-content>
  <button id="fab" class="button button-balanced button-fab button-fab-bottom-right activated" ng-click="addOrder(client.id)">
    <i class="icon ion-android-add"></i>
  </button>
</ion-view>