<ion-view view-title="Pedido de {{client.name}}">
  <link rel="stylesheet" type="text/css" href="css/new_order.css">
  <ion-content ng-controller="NewOrderCtrl as newo">
    <div ng-hide="order_products.length" class="mje_no_products">
      <p class="stable"> No hay productos aún.</p>
    </div>
    <h4 class="item item-divider" ng-show="order_products.length">Productos:</h4>
    <div class="list card" ng-show="order_products.length">
      <div class="item item-avatar" ng-repeat="product in order_products" on-drag="delete_product(product.id)">
        <img ng-src="{{get_product(product.id).img}}">
        <h2>{{get_product(product.id).name}}</h2>
        <div class="row">
          <div class="col col-33">Precio U.</div>
          <div class="col col-33">Cantidad</div>
          <div class="col col-33">Total</div>
        </div>
        <div class="row">
          <div class="col col-33">
            <div class="row">
              <div class="col col-20 aux pesos">$</div>
              <div class="col col-50 aux">{{product.uprice}}</div>
            </div>
          </div>
          <div class="col col-33">
            <input type="number" ng-model="product.cant" placeholder="cantidad" class="cantidad" init-focus>
          </div>
          <div class="col col-33 aux">{{product.uprice * product.cant | currency}}</div>
        </div>
        <!-- <span class="item-note">{{product.uprice | currency }}</span> -->
      </div>
    </div>
    <h4 class="item item-divider" ng-show="order_products.length">Total: {{get_total() | currency }}</h4>
  </ion-content>
  <button id="fab" class="button button-positive button-fab button-fab-bottom-right activated" ng-click="addProduct()">
    <i class="icon ion-android-add"></i>
  </button>
  <button id="fab" class="button button-balanced button-fab button-fab-bottom-left" ng-click="saveOrder()">
    <i class="icon ion-android-done"></i>
  </button>
</ion-view>
