<ion-view view-title="Pedido Nuevo">
  <link rel="stylesheet" type="text/css" href="css/new_order.css">
  <ion-content ng-controller="NewOrder as newo">
    <div class="card chiquito" ng-repeat="product in newo.shown_products">
        <div class="item item-image">
          <img ng-src="https://elefectorayleigh.files.wordpress.com/2012/07/juicy-tomato-0509-lg-75860228.jpg">
        </div>
        <div class="item item-divider">
          <h2>{{ product.name }}</h2>
          <h4>{{ product.price }}</h4>
        </div>
    </div>
    <ion-infinite-scroll
      ng-if="newo.more_products()"
      on-infinite="newo.load_more()"
      distance="10%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
