<ion-view view-title="Detalle del pedido">
  <ion-content ng-controller="PedidoCtrl as pctrl">
  <div class="list">
      <div class="item">
          <span><b>{{pctrl.get_cliente()}}</b></span><span style="float:right">{{pctrl.get_fecha()}}</span>
      </div>
      <div class="item item-divider">
      <p>Localidad: Rafaela</p>
      </div>
      <div class="item item-divider">
      <p>Direccion de entrega: Av. Santa Fe 468</p>
      </div>
      <div class="item item-divider">
      <p>CUIT: 2038543987</p>
      </div>
      <div class="item item-divider">
      <span>Orden:</span>
      </div>
      <div class="item">
       <ul class="list">
        <li class="item"  ng-repeat="producto in pctrl.productos">
            <span>{{pctrl.get_producto(producto.id).name}}</span>
            <span style="float:right">{{pctrl.get_producto(producto.id).price | currency}}</span><br>
            <span style="color:gray">- Cantidad: {{producto.cant}}</span>
            <span style="float:right;color:gray">{{producto.cant * pctrl.get_producto(producto.id).price | currency}}</span>
        </li>
       </ul>
      </div>
      <div class="item item-divider">
        <span>Total:</span><span style="float:right">{{pctrl.get_total() | currency}}</span>
      </div>
  </div>
  </ion-content>
</ion-view>
