<ion-view view-title="Pedidos">
  <ion-content ng-controller="PedidosCtrl as pctrl">
   <div class="card"  ng-repeat="pedido in pctrl.pedidos">
        <div class="item item-avatar" ng-click="pctrl.hizo_click({{pedido.id}})">
           <img ng-src={{pctrl.get_cliente_img(pedido.id_client)}}>
            <h2>{{pctrl.get_cliente(pedido.id_client)}}</h2>
            <p>Fecha: {{pedido.date}}</p>
        </div>
   </div>
  </ion-content>
  <button id="fab" class="button button-balanced button-fab button-fab-bottom-right activated" ng-click="sel_client_open()">
    <i class="icon ion-android-add"></i>
  </button>
</ion-view>
