<ion-view view-title="Selecciona un Producto">
<ion-content ng-controller="CatalogCtrl">
    <div class="item item-divider"> Categorías </div>
    <my-categories categories="categories"></my-categories>
</ion-content>
</ion-view>