<link rel="stylesheet" type="text/css" href="css/products.css">
<div class="list">
    <div class="card chiquito" ng-repeat="product in products">
      <div ng-click="myonclick(product.id)">
        <div class="item item-image">
          <img ng-src="{{product.img}}">
        </div>
        <div class="item">
          <h2>{{ product.shown_name }}</h2>
          <h4>{{ product.price | currency}}</h4>
        </div>
      </div>
    </div>
    </div>
</div>