@media screen and (orientation:portrait){
    .category{
        width: calc((100vw - 32px)/2);
        height: calc((100vw - 32px)/6);
        float: left;
    }
}

@media screen and (orientation:landscape){
    .category{
        width: calc((100vw - 48px)/3);
        height: calc((100vw - 32px)/9);
        float: left;
    }
}

.list .item.item-bg-image{
    height: 100%;
    width: 100%;
    min-height: 70px !important;
}
