.mje_no_products{
    text-align: center;
    margin-top: calc(50vh);
    font-size: 22px;
}
.row{
    padding: 0px;
}
.col{
    padding: 0px;
}

.aux{
    line-height: 33px;
}
.pesos{
    text-align: right;
}

.item h2 {
    white-space: pre-line;
}