@media screen and (orientation:portrait){
    .chiquito{
        width: calc((100vw - 32px)/2);
        float: left;
    }
    .chiquito img{
        height: 80px;
    }
    .chiquito .item h2{
        white-space: pre-line;
        font-size: 13px;
    }
}

 @media screen and (orientation:landscape){
    .chiquito{
        width: calc((100vw - 100px)/5);
        float: left;
    }
 }